<!DOCTYPE html>
<html>
    <head>
        <title>Flash Cards</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script src="angular.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="FlashCards" ng-controller="MainController">
    {{ 2 + 2 }}

    <!-- {{ flashCards }} -->

    <div class="flash-card" ng-controller="FlashCardController" ng-repeat="card in flashCards | orderBy: 'question'">
        <h1>{{ card.question | uppercase }}</h1>
        <ul class="flash-card-answers">
            <li class="flash-card-answer" ng-repeat="answer in card.answers" ng-click="answerQuestion(answer)" ng-hide="answered">
                {{ answer.text }}
            </li>
        </ul>
        <h2 class="answer-feedback"
            ng-class="{ correct: answeredCorrectly, incorrect: !answeredCorrectly }"
            ng-show="answered">
        	<span ng-show="answeredCorrectly">Yeah, you got it right!</span>
        	<span ng-show="!answeredCorrectly">Nope, you got it wrong.</span>
    	</h2>
    </div>

    </body>
</html>
